* {
  box-sizing: border-box;
}

body {
  background: url('Images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
  display: inline-grid;
}

.p5Canvas{
    position: fixed;
    top: 20%;
    right: 28%;
}