* {
  box-sizing: border-box;
}

body {
  background: url('Images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
  display: inline-grid;
}

canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 13%;
  border:5px solid;
  border-image: linear-gradient(0deg, black, yellow) 1;
  animation: gradient 10s ease infinite;
}